*{
  margin: 0;
  padding: 0;
}

.first-page{
  display: flex;
  height: 80%;
  align-items: center;
  margin: 0 2rem 0 2rem;
  justify-content: space-between;
}

.first-text{
  color: white;
  font-size: 3vw;
}

.read-more{
  margin-top: 1rem;
  background-color: #007afe;
  width: 10vw;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 0 0.8rem 0;
  color: white;
  font-weight: bold;
}